* {
  border: 0;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  font-family: "PTSans-Regular", Arial, Helvetica, sans-serif;
  min-width: 320px;
}

.container {
  max-width: 880px;
  padding: 30px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

header {
  padding: 30px 0px 30px 0px;
  background-color: #fff;
}
@media (max-width: 768px) {
  header {
    padding: 5px 0px 5px 0px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header-top {
    justify-content: flex-end;
    padding: 25px 0px 0px 0px;
  }
}
@media (max-width: 470px) {
  .header-top {
    padding: 10px 0px 0px 0px;
  }
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@media (max-width: 768px) {
  .header-top-lang {
    margin: 0px 0px 15px 0px;
  }
}
.header-top-lang__item {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-family: BebasNeueRegular;
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0px 10px 0px 0px;
}
.header-top-lang__item.active {
  background-color: #000;
  color: #fff;
}

.heder-top__link {
  font-family: "AkzidenzGroteskBQCondensed";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  z-index: 12;
}
@media (max-width: 470px) {
  .heder-top__link {
    font-size: 12px;
  }
}

.header-bottom {
  margin: -10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .header-bottom {
    margin: -40px 0px 0px 0px;
  }
}
@media (max-width: 470px) {
  .header-bottom {
    margin: -30px 0px 0px 0px;
  }
}
.header-bottom__column {
  flex: 0 0 33.333%;
}

.header-bottom-menu--right .header-bottom-menu-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  text-align: right;
}
.header-bottom-menu--right .header-bottom-menu-list li {
  margin: 0px 0px 0px 35px !important;
}
.header-bottom-menu--right .header-bottom-menu-list li:first-child {
  margin: 0;
}
@media (max-width: 768px) {
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0px 0px 0px 20px !important;
  }
}
@media (max-width: 768px) {
  .header-bottom-menu--right .header-bottom-menu-list {
    display: block;
    text-align: left;
  }
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0px 0px 15px 0px !important;
  }
}
.header-bottom-menu__link {
  font-family: "AkzidenzGroteskBQCondensed";
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.header-bottom-menu-list li {
  margin: 0px 35px 0px 0px;
}
.header-bottom-menu-list li:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 768px) {
  .header-bottom-menu-list li {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 768px) {
  .header-bottom-menu-list {
    display: block;
  }
  .header-bottom-menu-list li {
    margin: 0px 0px 15px 0px;
  }
  .header-bottom-menu-list li:last-child {
    margin: 0px 0px 15px 0px;
  }
}

.header-logo {
  display: block;
  text-align: center;
  position: relative;
  z-index: 12;
}
.header-logo__text {
  display: block;
  font-family: Bebas;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #000000;
}
@media (max-width: 768px) {
  .header-logo__text {
    font-size: 8px;
  }
}
@media (max-width: 470px) {
  .header-logo__text {
    letter-spacing: 6px;
  }
}
.header-logo__image {
  display: inline-block;
  margin: 10px 0px 20px 0px;
}
@media (max-width: 768px) {
  .header-logo__image {
    margin: 5px 0px 10px 0px;
    padding-bottom: 5.807px;
  }
  .header-logo__image img {
    width: 150px;
  }
}
@media (max-width: 470px) {
  .header-logo__image {
    margin: 0px 0px 2px 0px;
  }
  .header-logo__image img {
    width: 100px;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 38.5px;
    left: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-menu__icon span:first-child {
    top: 0px;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
}
@media (max-width: 768px) and (max-width: 470px) {
  .header-menu__icon {
    top: 22.5px;
  }
}
@media (max-width: 768px) {
  .header-menu__icon.active span {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    bottom: 8px;
  }
}
@media (max-width: 768px) {
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    z-index: 5;
    background-color: #fff;
    padding: 145px 10px 20px 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
  }
  .header-menu.active {
    left: 0;
  }
}
.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.private__column {
  flex: 0 0 50%;
  background-color: #555;
}
.private__image {
  height: 100%;
}
@media (max-width: 768px) {
  .private {
    flex-direction: column;
  }
  .private__column {
    flex: 1 1 100%;
  }
  .private__image {
    padding: 125px;
  }
}
.private-body {
  padding: 75px 10px 75px 60px;
}
@media (max-width: 768px) {
  .private-body {
    padding: 40px 10px 40px 40px;
  }
}
.private-body__title {
  font-family: "AkzidenzGroteskBQCondensed";
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 768px) {
  .private-body__title {
    font-size: 35px;
    margin: 0px 0px 20px 0px;
  }
}
.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 768px) {
  .private-body__text {
    margin: 0px 0px 30px 0px;
  }
}

.private-body-content {
  max-width: 305px;
}
@media (max-width: 768px) {
  .private-body-content {
    margin: auto;
    max-width: 100%;
  }
}

.private-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
}
.private-body-buttons__link {
  font-family: "BebasNeueRegular";
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0px 0px 0px 15px;
  letter-spacing: 1.5px;
}

.products {
  margin: 0px 0px 20px 0px;
}
.products__column {
  flex: 0 0 25%;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 768px) {
  .products__column {
    flex: 0 0 50%;
  }
}
@media (max-width: 380px) {
  .products__column {
    flex: 1 1 100%;
  }
}

.products-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@media (max-width: 768px) {
  .products-body {
    flex-wrap: wrap;
  }
}

.products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
  height: 100%;
}
.products-item__image {
  display: block;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 25px 0px;
}
.products-item__title {
  height: 50px;
  padding: 0px 10px 0px 0px;
  max-width: 185px;
  font-size: 25px;
  font-family: "AkzidenzGroteskBQCondensed";
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
}
@media (max-width: 380px) {
  .products-item__title {
    max-width: none;
    height: auto;
    overflow: visible;
  }
}
.products-item__text {
  flex: 1 1 auto;
  padding: 0px 10px 0px 0px;
  font-size: 15px;
  line-height: 25px;
  margin: 30px 0px 25px 0px;
  max-width: 185px;
}
@media (max-width: 380px) {
  .products-item__text {
    max-width: none;
    margin: 0px 0px 25px 0px;
  }
}
.products-item__btn {
  margin: 0px 0px 30px 0px;
}
.products-item__link {
  font-family: "BebasNeueRegular";
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.why-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  background-color: #555;
}
@media (max-width: 1010px) {
  .why-top {
    flex-direction: column;
  }
  .why-top:last-child {
    padding: 125px;
  }
}
.why-top__column {
  flex: 0 0 50%;
}
@media (max-width: 1010px) {
  .why-top__column {
    flex: 1 1 100%;
  }
}
.why-top__text {
  text-align: right;
  color: #fff;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBQCondensed";
  padding: 55px 60px 50px 0px;
}
@media (max-width: 1010px) {
  .why-top__text:last-child {
    text-align: center;
    font-size: 40px;
    padding: 30px 0px;
  }
}
@media (max-width: 480px) {
  .why-top__text:last-child {
    font-size: 30px;
    padding: 20px 0px;
  }
}
.why-top__image {
  height: 100%;
}
@media (max-width: 1010px) {
  .why-top__image:last-child {
    padding: 75px;
  }
}

.why-body {
  padding: 50px 0px 0px 0px;
}
.why-body__column {
  flex: 0 0 50%;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 960px) {
  .why-body__column {
    flex: 1 1 100%;
  }
}

.why-body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

.why-body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.why-body-item__icon {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  background-color: #555;
  justify-content: center;
  align-items: center;
}
.why-body-item__icon img {
  padding: 20px;
  width: 100px;
  height: 100px;
}

.why-body-item-body {
  flex: 1 1 100%;
  padding: 0px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
}
.why-body-item-body__title {
  flex: 1 1 auto;
  font-family: "AkzidenzGroteskBQCondensed";
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
@media (max-width: 470px) {
  .why-body-item-body__title {
    font-size: 20px;
  }
}
.why-body-item-body__text {
  font-size: 15px;
  padding: 0px 15px 0px 0px;
  line-height: 25px;
}
@media (max-width: 470px) {
  .why-body-item-body__text {
    line-height: 20px;
  }
}

.contacts__title {
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBQCondensed";
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 470px) {
  .contacts__title {
    text-align: center;
  }
}

.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}
.contacts-body__column {
  flex: 0 0 50%;
  margin: 0px 0px 20px 0px;
  padding: 0px 20px 0px 0px;
}
@media (max-width: 470px) {
  .contacts-body__column {
    flex: 1 1 100%;
    text-align: center;
  }
}
.contacts-body__item {
  font-size: 15px;
  color: #000;
  display: inline-block;
  line-height: 30px;
  padding: 0px 0px 0px 35px;
}
.contacts-body__item--1 {
  background: url(../img/contacts/01.svg) left no-repeat;
  background-size: 30px;
}
.contacts-body__item--2 {
  background: url(../img/contacts/02.svg) left no-repeat;
  background-size: 30px;
}
.contacts-body__item--3 {
  background: url(../img/contacts/03.svg) left no-repeat;
  background-size: 30px;
}
.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@media (max-width: 470px) {
  .contacts-social {
    justify-content: center;
  }
}
.contacts-social__item {
  margin: 0px 30px 0px 0px;
}
.contacts-social__item img {
  width: 24px;
  height: auto;
}
.contacts-social__item:last-child {
  margin: 0px 0px 0px 0px;
}
.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  background-color: #555;
}
@media (max-width: 786px) {
  .contacts-content {
    display: block;
  }
}
.contacts-content__column {
  flex: 0 0 50%;
}
.contacts-content__map {
  height: 100%;
}
@media (max-width: 786px) {
  .contacts-content__map {
    height: 400px;
  }
}
.contacts-content__title {
  font-family: "AkzidenzGroteskBQCondensed";
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 768px) {
  .contacts-content__title {
    text-align: center;
  }
}

.contacts-content-form {
  padding: 55px 60px;
}
@media (max-width: 786px) {
  .contacts-content-form {
    padding: 30px;
  }
}

.contacts-content-form-body {
  max-width: 375px;
}
@media (max-width: 786px) {
  .contacts-content-form-body {
    max-width: 100%;
  }
}

.contacts-content-form-line {
  margin: 0px 0px 25px 0px;
}

@media (max-width: 768px) {
  .contacts-content-form-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    justify-content: center;
  }
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  height: 125px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 610px) {
  .footer-body {
    height: auto;
    padding: 15px 0px;
    flex-direction: column;
  }
}
@media (max-width: 610px) {
  .footer-body__column:first-child {
    order: 2;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
  }
  .footer-body__column:last-child {
    order: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    margin: 0px 0px 15px 0px;
  }
}

.footer__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
}
.footer__text a {
  text-decoration: underline;
  color: #4d4d4d;
}
.footer__text a:hover {
  text-decoration: none;
}
@media (max-width: 610px) {
  .footer__text {
    text-align: center;
  }
}
.btn {
  height: 50px;
  line-height: 50px;
  background-color: #555;
  display: inline-block;
  padding: 0px 35px;
  font-size: 15px;
  font-family: "BebasNeueRegular";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
}
.btn--white {
  background-color: #fff;
  color: #555;
}
.btn.fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
}
textarea.input {
  display: block;
  width: 100%;
  font-size: 15px;
  resize: none;
  height: 50px;
  padding: 10px 20px;
}

/*# sourceMappingURL=style.css.map */
